header {
    background-color: black;
    color: antiquewhite;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

input {
    background-color: black;
    color: antiquewhite;
    border: 1px solid antiquewhite;
    padding: 5px;
    border-radius: 4px;
    width: 30%;
    margin-right: 20px;

}