.header {
    position: fixed;
    background-color: var(--negro);
    color: var(--color4);
    width: 100%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1000;
}

.input {
    background-color: var(--negro);
    color: var(--color3);
    border: 1px solid var(--color3);
    padding: 5px;
    border-radius: 4px;
    width: 30%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    font-size: 2rem;
    font-weight: bolder;
    padding: 0;
    color: var(--color4);
}

.menuIcon{
    color: var(--color4);
    font-size: 1.8rem; 
}

.menuIcon:hover{
    color: var(--color3);
    font-size: 2rem;
}